interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.vscale.io/v1/scalets
  response:
    body:
      string: '{"status":"started","deleted":null,"public_address":{},"active":false,"location":"spb0","locked":true,"hostname":"cs11533.vscale.io","created":"20.08.2015 14:57:04","keys":[{"name":"somekeyname","id":16}],"private_address":{},"made_from":"ubuntu_14.04_64_002_master","name":"New-Test","ctid":11,"rplan":"medium"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
