interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.vscale.io/v1/scalets/123
  response:
    body:
      string: '{"hostname":"cs10299.vscale.ru","locked":false,"location":"spb0","rplan":"huge","name":"MyServer","active":true,"keys":[{"name":"somekeyname","id":16}],"public_address":{"netmask":"255.255.255.0","gateway":"95.213.191.1","address":"95.213.191.120"},"status":"deleted","made_from":"ubuntu_14.04_64_002_master","ctid":10299,"private_address":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
