interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/cloudsea.ru
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1649565636, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "cloudsea.ru", "type": "A", "content": "ns10.vscale.io"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vscale.io/v1/domains/68155/records/111
  response:
    body:
      string: '{"field": "record_id", "error": "record_not_found"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: NOT FOUND
version: 1
