interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/cloudsea.ru
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1649565636, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": [1, 2], "name": "cloudsea.ru", "type": "master"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.vscale.io/v1/domains/68155
  response:
    body:
      string: '{"error": "tag_not_found"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: NOT FOUND
- request:
    body: '{"tags": [], "name": "cloudsea1.ru", "type": "master"}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.vscale.io/v1/domains/68155
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1649565636, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
