interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/cloudsea.ru
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1648384912, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/68155/records/
  response:
    body:
      string: '[{"content": "ns2.vscale.io", "ttl": 86400, "type": "NS", "id": 419709,
        "name": "cloudsea.ru"}, {"content": "ns1.vscale.io", "ttl": 86400, "type":
        "NS", "id": 419708, "name": "cloudsea.ru"}, {"retry": 3600, "name": "cloudsea.ru",
        "minimum": 300, "refresh": 10800, "id": 419707, "content": "ns1.vscale.io.
        hello.vscale.io. 2022032752 10800 3600 604800 300", "expire": 604800, "ttl":
        300, "change_date": 1648384912, "ns": "ns1.vscale.io", "type": "SOA", "email":
        "hello@vscale.io"}]'
    headers:
      Content-Type:
      - application/json
      X-Limit:
      - '1000'
      X-Offset:
      - '0'
      X-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/68155/records/419709
  response:
    body:
      string: '{"content": "ns2.vscale.io", "ttl": 86400, "type": "NS", "id": 419709,
        "name": "cloudsea.ru"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/68155
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1648384912, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
