interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/example1.com
  response:
    body:
      string: '{"user_id": 15872, "name": "example1.com", "tags": [], "change_date":
        1648384867, "create_date": 1648384867, "id": 68154}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.vscale.io/v1/domains/68154
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: NO CONTENT
version: 1
