interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/cloudsea.ru
  response:
    body:
      string: '{"user_id": 15872, "name": "cloudsea.ru", "tags": [], "change_date":
        1649485475, "create_date": 1648384912, "id": 68155}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "68155", "name": "cloudsea.ru", "type": "NS", "ttl": 604800, "content":
      "ns20.vscale.io"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.vscale.io/v1/domains/68155/records/
  response:
    body:
      string: '{"content": "ns20.vscale.io", "ttl": 604800, "type": "NS", "id": 421448,
        "name": "cloudsea.ru"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "cloudsea.ru", "type": "NS", "content": "ns10.vscale.io"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.vscale.io/v1/domains/68155/records/421448
  response:
    body:
      string: '{"content": "ns10.vscale.io", "ttl": 604800, "type": "NS", "id": 421448,
        "name": "cloudsea.ru"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.vscale.io/v1/domains/68155/records/421448
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: NO CONTENT
version: 1
