interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/domains/123/records/
  response:
    body:
      string: '[{"ttl":86400,"name":"example.com","type":"NS","id":323,"content":"ns2.vscale.io"},{"id":322,"type":"NS","ttl":86400,"name":"example.com","content":"ns1.vscale.io"},{"type":"SOA","retry":3600,"expire":604800,"email":"hello@vscale.io","id":321,"ttl":300,"name":"example.com","content":"ns1.vscale.io. hello.vscale.io. 2016020253 10800 3600 604800 300","ns":"ns1.vscale.io","minimum":300,"refresh":10800,"change_date":1454418438}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
