interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/images
  response:
    body:
      string: "<html>\r\n<head><title>302 Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>302
        Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://api.vscale.io/auth
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/auth
  response:
    body:
      string: "{\n  \"error\": \"Unauthorized\", \n  \"status\": \"error\"\n}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: UNAUTHORIZED
version: 1
