interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/rplans
  response:
    body:
      string: '[{"id":"small","cpus":1,"memory":512,"addresses":1,"disk":20480,"network":1024,"locations":["spb0","msk0"],"templates":["ubuntu_18.04_64_001_master","centos_7_64_001_master","ubuntu_20.04_64_001_ajenti","debian_8_64_001_master","ubuntu_16.04_64_001_master","ubuntu_20.04_64_001_docker","Fedora_27_64_001_master","debian_10_64_001_fastpanel","ubuntu_20.04_64_001_mongodb","ubuntu_14.04_64_001_preseed","ubuntu_20.04_64_001_lamp","ubuntu_20.04_64_001_nodejs","ubuntu_20.04_64_001_gogs","ubuntu_20.04_64_001_django","ubuntu_20.04_64_001_redis","debian_9_64_001_master","Fedora_28_64_001_master","Fedora_29_64_001_master","[...]
