interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/locations
  response:
    body:
      string: '[{"id":"spb0","description":"","active":true,"private_networking":false,"rplans":["small","medium","large","huge","monster"],"templates":["ubuntu_18.04_64_001_master","centos_7_64_001_master","ubuntu_20.04_64_001_ajenti","ubuntu_16.04_64_001_master","ubuntu_20.04_64_001_docker","debian_10_64_001_fastpanel","ubuntu_20.04_64_001_bitrix","ubuntu_20.04_64_001_mongodb","ubuntu_14.04_64_001_preseed","ubuntu_20.04_64_001_lamp","ubuntu_20.04_64_001_nodejs","ubuntu_20.04_64_001_gitlab","ubuntu_20.04_64_001_gogs","ubuntu_20.04_64_001_wordpress","ubuntu_20.04_64_001_django","ubuntu_20.04_64_001_redmine","ubuntu_20.04_64_001_redis","ubuntu_2[...]
