interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/scalets
  response:
    body:
      string: '[{"ctid":3547397,"name":"New-Test","status":"started","location":"spb0","rplan":"small","keys":[{"id":70307,"name":"newkey"},{"id":46329,"name":"x200s"}],"tags":[],"public_address":{"netmask":"255.255.255.0","gateway":"31.184.254.1","address":"31.184.254.27"},"private_address":{},"made_from":"ubuntu_20.04_64_001_master","hostname":"new-test","created":"20.03.2021 05:25:10","active":true,"locked":false,"deleted":null,"block_reason":null,"block_reason_custom":null,"date_block":null},{"ctid":3547400,"name":"New-Test","status":"queued","location":"spb0","rplan":"small","keys":[{"id":70307,"name":"newkey"},{"id":46329,"name":"x200s"}],"tags":[],"public_address":{"netmask":"255.255.255.0","gateway":"188.68.221.1","address":"188.68.221.91"},"private_address":{},"made_from":"","hostname":"","created":"20.03.2021 05:25:24","active":true,"locked":true,"deleted":null,"block_reason":null,"block_reason_custom":null,"date_block":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
