interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/images
  response:
    body:
      string: '[{"id":"ubuntu_18.04_64_001_master","description":"Ubuntu_18.04_64_001_master","size":2113,"locations":["spb0"],"rplans":["small","medium","large","huge","monster"],"active":true},{"id":"centos_7_64_001_master","description":"Centos_7_64_001_master","size":1804,"locations":["spb0"],"rplans":["small","medium","large","huge","monster"],"active":true},{"id":"ubuntu_20.04_64_001_ajenti","description":"Ubuntu_20.04_64_001_ajenti","size":2654,"locations":["spb0"],"rplans":["small","medium","large","huge","monster"],"active":true},{"id":"ubuntu_16.04_64_001_master","description":"Ubuntu_16.04_64_001_master","size":1751,"locations":["spb0"],"rplans":["small","medium","large[...]
