interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/rplans
  response:
    body:
      string: '[{"addresses":1,"cpus":1,"locations":["msk0"],"id":"small","memory":512,"templates":["debian_8.1_64_001_master","centos_7.1_64_001_master","ubuntu_14.04_64_002_master"],"disk":20480},{"addresses":1,"cpus":1,"locations":["spb0"],"id":"medium","memory":1024,"templates":["debian_8.1_64_001_master","centos_7.1_64_001_master","ubuntu_14.04_64_002_master"],"disk":30720},{"addresses":1,"cpus":2,"locations":["spb0"],"id":"large","memory":2048,"templates":["debian_8.1_64_001_master","centos_7.1_64_001_master","ubuntu_14.04_64_002_master"],"disk":40960},{"addresses":1,"cpus":2,"locations":["spb0"],"id":"huge","memory":4096,"templates":["debian_8.1_64_001_master","centos_7.1_64_001_master","ubuntu_14.04_64_002_master"],"disk":61440},{"addresses":1,"cpus":4,"locations":["spb0"],"id":"monster","memory":8192,"templates":["debian_8.1_64_001_master","centos_7.1_64_001_master","ubuntu_14.04_64_002_master"],"disk":81920}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
