interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.vscale.io/v1/scalets/123/restart
  response:
    body:
      string: '[{"active":true,"location":"spb0","ctid":10299,"name":"Eternal-Hungry","created":"20.07.2015 16:54:31","public_address":{"gateway":"95.213.191.1","netmask":"255.255.255.0","address":"95.213.191.24"},"status":"started","private_address":{},"rplan":"medium","deleted":null,"hostname":"cs10299.vscale.io","keys":[{"name":"somekeyname","id":16}],"locked":false,"made_from":"ubuntu_14.04_64_002_master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
