interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://api.vscale.io/v1/scalets/123/stop
  response:
    body:
      string: '{"status":"started","deleted":null,"made_from":"ubuntu_14.04_64_002_master","created":"27.08.2015 14:22:39","private_address":{},"ctid":10299,"keys":[{"name":"key","id":72}],"location":"spb0","hostname":"cs12669.vscale.io","locked":false,"public_address":{"netmask":"255.255.255.0","gateway":"95.213.199.1","address":"95.213.199.48"},"rplan":"medium","name":"Icy-Compass","active":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
